<div class="example-container mat-elevation-z8">
  <h2>Website Details</h2>
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/websites']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{website.url}}</h2></mat-card-title>
      <mat-card-subtitle>Added since: {{website.addedDate}}</mat-card-subtitle>
      <mat-card-subtitle>Last scan : {{website.lastScanned}}</mat-card-subtitle>
      <mat-card-subtitle>weeklyScanDay : {{website.weeklyScanDay}}</mat-card-subtitle>
      <mat-card-subtitle>scanSchedule : {{website.scanSchedule}}</mat-card-subtitle>
      <mat-card-subtitle>Customer : {{website.customerId}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/edit-website', website.id]"><mat-icon>edit</mat-icon> website</a>
      <a mat-flat-button color="warn" (click)="deleteWebsite(website.id)"><mat-icon>delete</mat-icon> website</a>
    </mat-card-actions>
  </mat-card>
</div>
